* {
    box-sizing: border-box;
}

.wrap {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    &:after {
        clear: both;
    }
}

.header,
.footer {
    text-align: center;
}

[class*=content-] {
    width: 100%;
    float: left;
    position: relative;
}

.height {
    height: 200px;
}