* {
    box-sizing: border-box;
}

.wrap {
    width: 500px;
    margin: 0 auto;
    background-color: gray;
    color: white;
    transition: background-color 3s ease;
    &:hover {
        background-color: green;
    }
}

.demo_box {
    width: 200px;
    height: 200px;
    color: white;
    text-align: center;
}

.perspective_none{
    position:relative;
    background:#4d6ea6;
    float:left;
    margin:50px;
    animation:perspective_none 4s infinite linear;
}
.perspective_value{
    position:relative;
    background:#4d6ea6;
    float:left;
    margin:50px;
    animation:perspective_value 4s infinite linear;
}
@keyframes perspective_none{
    0%{transform:rotateX(0deg);}
    100%{transform:rotateX(360deg);} 
}

@keyframes perspective_value{
    0%{transform:perspective(500px) rotateX(0deg);}
    100%{transform:perspective(500px) rotateX(360deg);} 
}